* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clr {
  clear: both;
}

@font-face {
  font-family: GothamSSm-Bold_Web;
  src: url("https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Bold_Web.woff2");
}
@font-face {
  font-family: GothamSSm-Medium_Web;
  src: url("https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Medium_Web.woff2");
}

@font-face {
  font-family: GothamSSm-Light_Web;
  src: url("https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Light_Web.woff2");
}

.font {
  color: #fff;
  font-family: GothamSSm-Medium_Web;
}

.pages {
  margin-top: -339px;
}
/******************************************************** Page 1 ********************************************************/
.page1 {
  background: url("../assets/img/M3-Hero-LHD-US-D_smaller.jfif") no-repeat
    center center/cover;
  width: 100vw;
  height: 109vh;
}

/************************************* Navbar *************************************/
.page1__logo {
  width: 123px;
  height: 18px;
  margin: 20px 44px;
  position: sticky;
  top: 20px;
}

.tds-icon {
  --tds-icon--cancel-margin: calc(var(--tds-icon--size) / -5);
  --tds-icon--fill: var(--tds-color--secondary, #fff);
  --tds-icon--stroke: var(--tds-color--secondary, #171a20);
  background: var(--tds-icon--bg);
  block-size: var(--tds-icon--size);
  content: "";
  display: block;
  inline-size: var(--tds-icon--size);
  max-width: 100%;
  min-block-size: var(--tds-icon--size);
  min-inline-size: var(--tds-icon--size);
  overflow: hidden;
  text-indent: -9999 px;
}

.page1__centerMenu {
  float: left;
  font-size: 14px;
  margin: 5px 218px;
}

.page1__rightMenu {
  float: right;
  font-size: 14px;
  margin: 5px;
}

.page1__centerMenu ul {
  padding-left: 235px;
}

.page1__rightMenu ul {
  padding-right: 19px;
}

.page1__centerMenu li,
.page1__rightMenu li {
  float: left;
  overflow: auto;
}

.page1__centerMenu li a,
.page1__rightMenu li a {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  margin: 8px;
  text-align: center;
}

.page1__centerMenu li a:hover,
.page1__rightMenu li a:hover {
  border: rgba(170, 170, 170, 0.562);
  border-radius: 10px;
  background: rgba(170, 170, 170, 0.562);
  cursor: pointer;
}

/************************************* Heaader *************************************/
header p {
  text-align: center;
  margin-top: 53px;
  font-size: 39px;
}

/************************************* Side Menu *************************************/
.page1__sideMenu {
  position: sticky;
  top: 230px;
  margin-left: 10px;
}

.page1__sideMenu li {
  list-style: none;
}

.page1__sideMenu li a {
  color: transparent;
}

.page1__sideMenu li a:hover {
  border: transparent;
  background: transparent;
  cursor: pointer;
  color: #fff;
}

.page1__sideMenu--symbol {
  display: inline-block;
  text-decoration: none;
  padding-right: 5px;
  font-size: 24px;
  font-weight: lighter;
  font-family: GothamSSm-Light_Web;
  color: #56606c;
}

.page1__sideMenu--current {
  color: #fff;
}

.page1__sideMenu--word {
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  font-family: GothamSSm-Medium_Web;
}
/************************************* Footer *************************************/
.page1__footer {
  margin-top: 392px;
  margin-left: 467px;
}

.page1__footer li {
  float: left;
  overflow: auto;
  text-align: center;
  padding: 17px 0px;
  width: 17%;
}

.page1__footer li h3 {
  padding: 3px 11px;
  font-size: 30px;
}

.page1__footer li p {
  font-size: 11px;
}

.page1__footer a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 37px;
  font-size: 12px;
  border: 3px solid #fff;
  border-radius: 25px;
}

.page1__footer a:hover {
  display: inline-block;
  text-decoration: none;
  border: 3px solid #fff;
  color: #171a20;
  background: #fff;
  border-radius: 25px;
}

/* .speed meter {
  float: left;
  width: 20%;
}

.speed meter svg {
  width: 65px;
}
.sec {
  float: right;
  width: 70%;
} */

.arrow--light {
  text-align: center;
  font-size: 30px;
  font-family: GothamSSm-Light_Web;
}

/******************************************************** Page 2 ********************************************************/
.page2 {
  width: 100vw;
  height: 109vh;
}

/************************************* right side img *************************************/
.page2__img {
  background: #f5f5f5;
  width: 73%;
  height: 100%;
  float: right;
  margin-top: -58px;
}

/******************** right side img left ********************/
.page2__img__left {
  background: url(../assets/img/model_3_safety_hero-smaller.png) no-repeat
    center/cover;
  width: 950px;
  height: 100%;
  float: left;
}

.page2__img__right {
  width: 171px;
  height: 100%;
  float: right;
  background: #f5f5f5;
}

.page2__img__info--word {
  font-family: GothamSSm-Medium_Web;
  font-size: 14px;
  font-weight: 200;
}

/******* right side img right info1 *******/
.page2__img__info1 {
  display: inline-block;
  position: relative;
  top: 135px;
  left: 163px;
  width: 221px;
  height: 254px;
}

.page2__img__info1--wordLoction1 {
  position: absolute;
  top: -3px;
  left: 15px;
}

.page2__img__info1--lineDot {
  background: url("../assets/img/line-dot.png") no-repeat center center/cover;
  width: 16px;
  height: 254px;
}

/******* right side img right info2 *******/
.page2__img__info2 {
  display: inline-block;
  position: relative;
  top: -54px;
  left: 209px;
  width: 221px;
  height: 146px;
}

.page2__img__info2--wordLoction2 {
  position: absolute;
  top: -3px;
  left: 10px;
}

.page2__img__info2--lineDot {
  background: url("../assets/img/line-dot.png") no-repeat center center/cover;
  width: 11px;
  height: 100%;
}

/******* right side img right info3 *******/
.page2__img__info3 {
  display: inline-block;
  position: relative;
  bottom: -334px;
  left: 39px;
  width: 221px;
  height: 146px;
}

.page2__img__info3--wordLoction3 {
  position: absolute;
  bottom: -3px;
  left: 10px;
}

.page2__img__info3--lineDot {
  background: url("../assets/img/line-dot-upside\ down.png") no-repeat center
    center/cover;
  width: 11px;
  height: 100%;
}

/******************** right side img right ********************/
.arrow--dark {
  text-align: right;
  margin-right: 47px;
  margin-top: 21px;
  font-size: 23px;
  font-weight: 100;
}

.arrow--dark a {
  color: #000;
}

/************************************* left side info *************************************/
.page2__info {
  background: #fff;
  width: 27%;
  height: 100%;
  float: left;
}

/******* logo *******/
.page2__logo {
  width: 123px;
  height: 18px;
  /* float: left; */
  margin: 20px 44px;
  position: sticky;
  top: 20px;
}

.tds-icon2 {
  --tds-icon--cancel-margin: calc(var(--tds-icon--size) / -5);
  --tds-icon--fill: var(--tds-color--secondary, #171a20);
  --tds-icon--stroke: var(--tds-color--secondary, #171a20);
  background: var(--tds-icon--bg);
  block-size: var(--tds-icon--size);
  content: "";
  display: block;
  inline-size: var(--tds-icon--size);
  max-width: 100%;
  min-block-size: var(--tds-icon--size);
  min-inline-size: var(--tds-icon--size);
  overflow: hidden;
  text-indent: -9999 px;
}

/******* description *******/
.page2__info__description {
  float: right;
  width: 88%;
  height: 100%;
  font-family: GothamSSm-Light_Web;
}

.page2__info__description h3 {
  font-weight: 600;
  font-size: 15px;
}

.page2__info__description h1 {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 23px;
}

.page2__info__description p {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 18px;
  padding-right: 38px;
}

.page2__info__rating {
  height: 293px;
  padding: 25px 30px;
  margin-right: 42px;
  background: #e2e4e4;
  border: #e2e4e4;
  border-radius: 30px;
}

.page2__info__rating--title {
  font-size: 21px;
  text-align: center;
  padding-bottom: 10px;
}

.page2__info__rating__about ul {
  float: left;
  overflow: auto;
  padding-bottom: 10px;
}

.page2__info__rating__about li {
  float: left;
  overflow: auto;
}

.page2__info__rating__about--li-1 {
  padding-right: 80px;
}

.page2__info__rating__about li h2 {
  font-size: 16px;
  text-align: left;
  font-weight: 1000;
}

.page2__info__rating__about li p {
  font-size: 10px;
  margin-bottom: 0;
}

.page2__info__rating__about--star {
  text-align: right;
  font-size: 16px;
}

/******* footer *******/
.page2__info__footer {
  margin: 20px 5px;
}

.page2__info__footer--left {
  width: 170px;
  height: 39px;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  color: #000;
  font-weight: 700;
  font-family: GothamSSm-Light_Web;
}

.page2__info__footer--right {
  width: 136px;
  height: 39px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 12px;
  text-align: center;
  color: #000;
  font-weight: 700;
  font-family: GothamSSm-Light_Web;
  border: 3px solid #000;
  border-radius: 25px;
}

.page2__info__footer--right:hover {
  display: inline-block;
  text-decoration: none;
  border: 3px solid #000000;
  color: #fff;
  background: #000000;
  border-radius: 25px;
}

.btn {
  height: 40px;
  line-height: 36px;
  width: 40px;
  font-size: 2em;
  font-family: GothamSSm-Light_Web;
  border: 3px solid #000000;
  border-radius: 50%;
  background-color: transparent;
  color: black;
  text-align: center;
  cursor: pointer;
  margin: 10px;
}

.btn:hover {
  height: 40px;
  line-height: 36px;
  width: 40px;
  font-size: 2em;
  font-family: GothamSSm-Light_Web;
  border: 3px solid #000000;
  border-radius: 50%;
  background-color: #000000;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

/******************************************************** Page 3 ********************************************************/
.page3 {
  width: 100vw;
  height: 109vh;
}

/************************************* upper *************************************/
.page3__upper {
  width: 100vw;
  height: 61%;
  background: url("../assets/img/lhd-performance-hero-desktop.jfif") no-repeat
    center center/cover;
}

.arrow--dark2 {
  text-align: right;
  margin-right: 47px;
  margin-top: 21px;
  font-size: 23px;
  font-weight: 100;
  float: right;
}

.arrow--dark2 a {
  color: #000;
}

.page3__upper__info {
  margin-top: 245px;
}

.page3__upper__info ul {
  margin-top: 260px;
  margin-left: 300px;
}

.page3__upper__info li {
  float: left;
  overflow: auto;
  text-align: center;
  padding: 20px 10px;
  width: 26%;
}

.page3__upper__info li h3 {
  padding: 5px 11px;
  font-size: 25px;
  font-weight: 400;
}

.page3__upper__info li p {
  font-size: 12.5px;
}

/************************************* lower *************************************/
.page3__lower {
  width: 100vw;
  height: 39%;
}

.page3__lower__about {
  float: right;
  width: 60%;
  height: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  padding: 60px 379px 0 0;
  font-family: GothamSSm-Light_Web;
}

.page3__lower__info {
  float: left;
  width: 40%;
  height: 100%;
  text-align: left;
  padding: 52px 0px 0px 274px;
  font-family: GothamSSm-Light_Web;
}

.page3__lower__info h3 {
  font-weight: 500;
  font-size: 15px;
  padding: 0px 0px 0px 30px;
}

.page3__lower__info h1 {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 23px;
  padding: 0px 0px 0px 30px;
}
